@use "../common/common.scss" as *;

:host {
  display: block;
}

// .recent-cases {
//   outline: 2px solid govuk-colour("red");
//   outline-offset: 10px; /* pushes outline away from content */
// }
