---
layout: base.njk
title: Case 12AB1212121/100001
---

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/cases/">Cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Case 12AB1212121/100001
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Case 12AB1212121/100001</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          URN
        </dt>
        <dd class="govuk-summary-list__value">
          12AB1212121
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case ID
        </dt>
        <dd class="govuk-summary-list__value">
          100001
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--blue">Active</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last updated
        </dt>
        <dd class="govuk-summary-list__value">
          2 days ago
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case type
        </dt>
        <dd class="govuk-summary-list__value">
          Theft
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Assigned to
        </dt>
        <dd class="govuk-summary-list__value">
          John Smith
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next court date
        </dt>
        <dd class="govuk-summary-list__value">
          15 June 2023
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Case details</h2>

    <p class="govuk-body">This case involves the theft of valuable items from a retail store in London. The incident occurred on 28 April 2023 at approximately 15:30. CCTV footage has captured the suspect, and there are witness statements from store employees.</p>

    <p class="govuk-body">The suspect was apprehended by police shortly after leaving the premises. Stolen merchandise valued at approximately £450 was recovered. The case is currently active with charges being prepared.</p>

    <h2 class="govuk-heading-m">Suspect information</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Name: James Wilson</li>
      <li>Age: 32</li>
      <li>Previous offenses: None on record</li>
      <li>Current status: Released on bail</li>
    </ul>

    <h2 class="govuk-heading-m">Case actions</h2>

    <ul class="govuk-list">
      <li>
        <a href="/cases/urns/12AB1212121/cases/100001/review" class="govuk-link">Review case</a>
      </li>
      <li>
        <a href="/cases/urns/12AB1212121/cases/100001/materials" class="govuk-link">View materials</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Case notes</h2>

    <div class="govuk-inset-text">
      <p class="govuk-body">5 May 2023 - New evidence received from police. Requires review.</p>
    </div>
    <div class="govuk-inset-text">
      <p class="govuk-body">1 May 2023 - Initial case documentation received.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-panel govuk-panel--sidebar">
      <h2 class="govuk-heading-m">Key deadlines</h2>
      <p class="govuk-body">Evidence submission: 20 May 2023</p>
      <p class="govuk-body">Case review: 25 May 2023</p>
      <p class="govuk-body">Court hearing: 15 June 2023</p>
    </div>
  </div>
</div>