---
layout: base.njk
title: Case Materials - 12AB3333333/100003
---

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Case Materials - 12AB3333333/100003</h1>
      
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            All materials must be organized for court presentation by 15 June 2023.
          </p>
        </div>
      </div>
      
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#documents">
              Documents
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#evidence">
              Evidence
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#witness-statements">
              Witness Statements
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#medical-reports">
              Medical Reports
            </a>
          </li>
        </ul>
        
        <div class="govuk-tabs__panel" id="documents">
          <h2 class="govuk-heading-l">Documents</h2>
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Document name</th>
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Date added</th>
                <th scope="col" class="govuk-table__header">Added by</th>
                <th scope="col" class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Assault charge document</td>
                <td class="govuk-table__cell">PDF</td>
                <td class="govuk-table__cell">5 May 2023</td>
                <td class="govuk-table__cell">Mark Wilson</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Police report</td>
                <td class="govuk-table__cell">PDF</td>
                <td class="govuk-table__cell">5 May 2023</td>
                <td class="govuk-table__cell">Officer Johnson</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Case summary for court</td>
                <td class="govuk-table__cell">DOCX</td>
                <td class="govuk-table__cell">10 May 2023</td>
                <td class="govuk-table__cell">Mark Wilson</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Court scheduling notice</td>
                <td class="govuk-table__cell">PDF</td>
                <td class="govuk-table__cell">Today</td>
                <td class="govuk-table__cell">Court Admin</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="evidence">
          <h2 class="govuk-heading-l">Evidence</h2>
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Evidence name</th>
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Date added</th>
                <th scope="col" class="govuk-table__header">Added by</th>
                <th scope="col" class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">CCTV footage from scene</td>
                <td class="govuk-table__cell">MP4</td>
                <td class="govuk-table__cell">6 May 2023</td>
                <td class="govuk-table__cell">Officer Thompson</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Photographs of injuries</td>
                <td class="govuk-table__cell">ZIP</td>
                <td class="govuk-table__cell">5 May 2023</td>
                <td class="govuk-table__cell">Medical Examiner</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Weapon analysis report</td>
                <td class="govuk-table__cell">PDF</td>
                <td class="govuk-table__cell">8 May 2023</td>
                <td class="govuk-table__cell">Forensics Lab</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="witness-statements">
          <h2 class="govuk-heading-l">Witness Statements</h2>
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Witness</th>
                <th scope="col" class="govuk-table__header">Date of statement</th>
                <th scope="col" class="govuk-table__header">Taken by</th>
                <th scope="col" class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">James Green (Victim)</td>
                <td class="govuk-table__cell">5 May 2023</td>
                <td class="govuk-table__cell">Officer Thompson</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Patricia Adams</td>
                <td class="govuk-table__cell">6 May 2023</td>
                <td class="govuk-table__cell">Officer Lee</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Thomas Jenkins</td>
                <td class="govuk-table__cell">7 May 2023</td>
                <td class="govuk-table__cell">Officer Lee</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="medical-reports">
          <h2 class="govuk-heading-l">Medical Reports</h2>
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Report name</th>
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Doctor</th>
                <th scope="col" class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Initial medical examination</td>
                <td class="govuk-table__cell">5 May 2023</td>
                <td class="govuk-table__cell">Dr. Sarah Johnson</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">X-ray results</td>
                <td class="govuk-table__cell">5 May 2023</td>
                <td class="govuk-table__cell">Dr. Robert Chen</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Follow-up examination</td>
                <td class="govuk-table__cell">8 May 2023</td>
                <td class="govuk-table__cell">Dr. Sarah Johnson</td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">View</a> | 
                  <a href="#" class="govuk-link">Download</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <h2 class="govuk-heading-m">Upload new material</h2>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="file-type">
          File type
        </label>
        <select class="govuk-select" id="file-type" name="file-type">
          <option value="document">Document</option>
          <option value="evidence">Evidence</option>
          <option value="witness-statement">Witness Statement</option>
          <option value="medical-report">Medical Report</option>
        </select>
      </div>
      
      <button class="govuk-button" data-module="govuk-button">
        Upload
      </button>
    </div>
  </div>
{% endblock %}