# Azure configuration
AZURE_SUBSCRIPTION_ID=your-subscription-id
AZURE_RESOURCE_GROUP=your-resource-group
AZURE_STORAGE_ACCOUNT=your-storage-account
AZURE_STORAGE_CONTAINER=content
AZURE_WEBAPP_NAME=your-webapp-name

# GitHub configuration for fetching files
# These have sensible defaults and can be omitted
GITHUB_REPO=CPS-Innovation/global-components
GITHUB_BRANCH=main

# Endpoint to poll for version
STATUS_ENDPOINT=https://your-proxy-domain/global-components/status

# App settings to deploy to Azure Web App (global-components)
WM_MDS_BASE_URL=https://your-function-app.azurewebsites.net/api/
WM_MDS_ACCESS_KEY=your-function-key

# App settings for vnext features
GLOBAL_COMPONENTS_APPLICATION_ID=your-application-id
GLOBAL_COMPONENTS_BLOB_STORAGE_URL=https://sacpsglobalcomponents.blob.core.windows.net
