# Azure configuration
AZURE_SUBSCRIPTION_ID=your-subscription-id
AZURE_RESOURCE_GROUP=your-resource-group
AZURE_STORAGE_ACCOUNT=your-storage-account
AZURE_STORAGE_CONTAINER=content
AZURE_WEBAPP_NAME=your-webapp-name

# GitHub configuration for fetching files
# These have sensible defaults and can be omitted
GITHUB_REPO=CPS-Innovation/global-components
GITHUB_BRANCH=main

# Endpoint to poll for version
STATUS_ENDPOINT=https://your-proxy-domain/global-components/status

# App settings for vnext features
# Note: WM_MDS_BASE_URL and WM_MDS_ACCESS_KEY are deployed by the parent project
GLOBAL_COMPONENTS_APPLICATION_ID=your-application-id
GLOBAL_COMPONENTS_BLOB_STORAGE_URL=https://sacpsglobalcomponents.blob.core.windows.net
CPS_GLOBAL_COMPONENTS_BLOB_STORAGE_DOMAIN=sacpsglobalcomponents.blob.core.windows.net
AD_AUTH_ENDPOINT=https://graph.microsoft.com/v1.0/me
