@import "node_modules/govuk-frontend/dist/govuk/index";

@mixin background($gdsColorName) {
  box-shadow: 0 0 0 100vmax govuk-colour($gdsColorName);
  clip-path: inset(0 -100vmax);
  background-color: govuk-colour($gdsColorName);
}

.background-grey {
  @include background("light-grey");
}

.header-divider {
  height: 10px;
  box-shadow: 0 0 0 100vmax govuk-colour("blue");
  clip-path: inset(0 -100vmax);
  background-color: govuk-colour("blue");
  z-index: -1;
}
