@import "node_modules/govuk-frontend/dist/govuk/index";

$level-height: 3rem;

@mixin background($color) {
  // Implementation using clip-path: this works other than rendering behaviour
  //  in Edge on Windows leads the divider looking thicker beneath the top
  //  line of links than it does beneath the second line of links.
  // box-shadow: 0 0 0 100vmax $color;
  // clip-path: inset(0 -100vmax);
  // background-color: $color;

  background-color: $color;
  margin-left: -100vw;
  margin-right: -100vw;
  padding-left: 100vw;
  padding-right: 100vw;
}

.header-divider {
  height: 10px;
  box-shadow: 0 0 0 100vmax govuk-colour("blue");
  clip-path: inset(0 -100vmax);
  background-color: govuk-colour("blue");
  z-index: -1;
}

.background-white {
  @include background(govuk-colour("white"));
}

.background-grey {
  @include background(govuk-colour("light-grey"));
}

.background-black {
  @include background(govuk-colour("black"));
}

.background-blue {
  @include background(govuk-colour("blue"));
}

.background-light-blue {
  @include background(rgb(244, 248, 251));
}

.background-divider {
  // Implementation using clip-path: this works other than rendering behaviour
  //  in Edge on Windows leads the divider looking thicker within the container
  //  than outside of the container.
  //   height: 1px;
  //   box-shadow: 0 0 0 100vmax $govuk-border-colour;
  //   clip-path: inset(0 -100vmax);
  //   background-color: $govuk-border-colour;
  //   z-index: -1;

  // 1.2px because on Edge if 1px then the second divider renders thicker than
  //  the first (and if 0.9px the first one renders thicker!)
  height: 1.2px;
  background-color: $govuk-border-colour;
  margin-left: -100vw;
  margin-right: -100vw;
  padding-left: 100vw;
  padding-right: 100vw;
}

.background-divider-blue {
  height: 1px;
  box-shadow: 0 0 0 100vmax rgb(142, 184, 220);
  clip-path: inset(0 -100vmax);
  background-color: rgb(142, 184, 220);
  z-index: -1;
}

.error {
  height: $level-height;
  @include govuk-font($size: 19);

  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.wait {
  height: $level-height;
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
  font-weight: bold;
}
