@import "node_modules/govuk-frontend/dist/govuk/index";

// =============================================
// CSS Custom Properties for runtime theming
// =============================================
:host {
  --brand-primary-colour: #{$govuk-brand-colour};
  --brand-secondary-colour: #f4f8fb;
  --brand-text-colour: #fff;
}

.cps-theme {
  --brand-primary-colour: #002d9d;
  --brand-secondary-colour: #f2f4fa;
  --brand-text-colour: #fff;
}
.govuk-template--rebranded {
  background-color: transparent;
}

// =============================================
// GDS Header Overrides
// =============================================
.govuk-template--rebranded .govuk-header {
  background: var(--brand-primary-colour);
  color: var(--brand-text-colour);
}

.govuk-template--rebranded .govuk-header__container {
  border-bottom-color: var(--brand-primary-colour);
}

.govuk-template--rebranded .govuk-header__link,
.govuk-template--rebranded .govuk-template--rebranded {
  color: var(--brand-text-colour);

  &:link,
  &:visited {
    color: var(--brand-text-colour);
  }

  &:hover {
    color: var(--brand-text-colour);
  }
}

.govuk-template--rebranded .govuk-header__link--homepage {
  &:link,
  &:visited {
    color: var(--brand-text-colour);
  }

  &:hover,
  &:active {
    border-bottom-color: var(--brand-text-colour);
  }
}

.govuk-template--rebranded .govuk-header__link--homepage:not(:focus) {
  background: var(--brand-primary-colour);
}

.govuk-template--rebranded .govuk-header__navigation-item {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

// =============================================
// GDS Select Overrides (for recent cases dropdown)
// =============================================
.govuk-template--rebranded .govuk-select {
  option:active,
  option:checked {
    background-color: var(--brand-primary-colour);
  }

  &:focus::-ms-value {
    background-color: var(--brand-primary-colour);
  }
}
$level-height: 3rem;

@mixin background($color) {
  box-shadow: 0 0 0 100vmax $color;
  clip-path: inset(0 -100vmax);
  background-color: $color;
}

.header-divider {
  height: 10px;
  box-shadow: 0 0 0 100vmax govuk-colour("blue");
  clip-path: inset(0 -100vmax);
  background-color: govuk-colour("blue");
  z-index: -1;
}

.background-white {
  @include background(govuk-colour("white"));
}

.background-grey {
  @include background(govuk-colour("light-grey"));
}

.background-black {
  @include background(govuk-colour("black"));
}

.background-blue {
  @include background(var(--brand-primary-colour));
}

.background-light-blue {
  @include background(var(--brand-secondary-colour));
}

.background-divider-content-width {
  border-bottom: 1px solid $govuk-border-colour;
}

.background-divider {
  height: 1px;
  box-shadow: 0 0 0 100vmax $govuk-border-colour;
  clip-path: inset(0 -100vmax);
  background-color: $govuk-border-colour;
  z-index: -1;
}

.background-divider-blue {
  height: 1px;
  box-shadow: 0 0 0 100vmax rgb(142, 184, 220);
  clip-path: inset(0 -100vmax);
  background-color: rgb(142, 184, 220);
  z-index: -1;
}

.error {
  height: $level-height;
  @include govuk-font($size: 19);

  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.wait {
  height: $level-height;
  @include govuk-font($size: 19);
  color: $govuk-secondary-text-colour;
  font-weight: bold;
}

.level {
  height: $level-height;
}
