@import "../common/common.scss";

.skip-link {
  // ignore the container width so the skip link is aligned
  // to the left of the screen
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

header {
  @include govuk-font($size: 19);

  .header-title {
    font-weight: 700;
  }

  .govuk-header__link--homepage:hover {
    text-decoration-line: none !important;
    border-bottom: 0 !important;
  }

  border-bottom: none !important;
}
