@import "../common/common.scss";

.skip-link {
  // ignore the container width so the skip link is aligned
  // to the left of the screen
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

header {
  @include govuk-font($size: 19);

  .govuk-header__logotype-text {
    font-weight: 700;
    display: inline-block;
  }

  border-bottom: none !important;
}
