---
layout: base.njk
title: Case 12AB1212121/100002
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Case 12AB1212121/100002</h1>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          URN
        </dt>
        <dd class="govuk-summary-list__value">
          12AB1212121
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case ID
        </dt>
        <dd class="govuk-summary-list__value">
          100002
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">Pending</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last updated
        </dt>
        <dd class="govuk-summary-list__value">
          1 week ago
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case type
        </dt>
        <dd class="govuk-summary-list__value">
          Fraud
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Assigned to
        </dt>
        <dd class="govuk-summary-list__value">
          Jane Doe
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next court date
        </dt>
        <dd class="govuk-summary-list__value">
          Not scheduled
        </dd>
      </div>
    </dl>
    
    <h2 class="govuk-heading-m">Case details</h2>
    
    <p class="govuk-body">This case involves a series of fraudulent transactions conducted online against multiple victims. The suspect allegedly created a fake investment platform claiming high returns on cryptocurrency investments. The total amount defrauded is estimated to be over £25,000 from 12 different victims.</p>
    
    <p class="govuk-body">The investigation is currently gathering digital evidence and financial records. Several victims have provided statements, and there is ongoing analysis of the suspect's online activities and banking transactions.</p>
    
    <h2 class="govuk-heading-m">Suspect information</h2>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>Name: Robert Thompson</li>
      <li>Age: 45</li>
      <li>Previous offenses: 1 prior conviction for similar offenses in 2018</li>
      <li>Current status: Under investigation</li>
    </ul>
    
    <h2 class="govuk-heading-m">Investigation timeline</h2>
    
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 April 2023</td>
          <td class="govuk-table__cell">First complaint received</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">5 April 2023</td>
          <td class="govuk-table__cell">Additional victims identified</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">20 April 2023</td>
          <td class="govuk-table__cell">Initial fraud allegation received</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 April 2023</td>
          <td class="govuk-table__cell">Financial records requested from suspect's bank</td>
        </tr>
      </tbody>
    </table>
    
    <h2 class="govuk-heading-m">Case actions</h2>
    
    <ul class="govuk-list">
      <li>
        <a href="/cases/urns/12AB1212121/cases/100002/review" class="govuk-link">Review case</a>
      </li>
      <li>
        <a href="/cases/urns/12AB1212121/cases/100002/materials" class="govuk-link">View materials</a>
      </li>
    </ul>
    
    <h2 class="govuk-heading-m">Case notes</h2>
    
    <div class="govuk-inset-text">
      <p class="govuk-body">20 April 2023 - Initial fraud allegation received.</p>
    </div>
    <div class="govuk-inset-text">
      <p class="govuk-body">25 April 2023 - Financial records requested from suspect's bank.</p>
    </div>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <div class="govuk-panel govuk-panel--sidebar">
      <h2 class="govuk-heading-m">Next steps</h2>
      <ul class="govuk-list">
        <li>Complete victim interviews by 25 May 2023</li>
        <li>Financial record analysis by 30 May 2023</li>
        <li>Digital forensics report by 5 June 2023</li>
      </ul>
    </div>
  </div>
</div>