@use "../common/common.scss" as *;

.case-details {
  @include govuk-font($size: 16);

  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 10px;
  border-bottom: 1px solid $govuk-border-colour;

  .govuk-tag {
    @include govuk-font($size: 16);
    white-space: nowrap;
    width: auto;
    max-width: none;
    display: inline-block;
    flex-shrink: 0;
    overflow: visible;
  }

  .scrolling-tags {
    min-width: 0;
    flex: 1;
  }

  .scrolling-tags-container {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scrollbar-width: none;
    mask-image: linear-gradient(to right, black calc(100% - 24px), transparent);
    -webkit-mask-image: linear-gradient(to right, black calc(100% - 24px), transparent);
  }
  .scrolling-tags-container::-webkit-scrollbar {
    display: none;
  }
}
