@use "../common/common.scss" as *;

.case-details {
  @include govuk-font($size: 16);

  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 10px;
  border-bottom: 1px solid $govuk-border-colour;

  .govuk-tag {
    @include govuk-font($size: 16);
    white-space: nowrap;
    width: auto;
    max-width: none;
    display: inline-block;
    flex-shrink: 0;
    overflow: visible;
  }
}
