name: "Internal: ci-cd deploy all pre-prod environments"

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  deploy-non-prod:
    uses: ./.github/workflows/sub-workflow-core-deploy.yml
    with:
      environments: '["unstable", "accessibility", "dev", "test", "staging"]'
    secrets:
      BLOB_STORAGE_CONNECTION_STRING: ${{ secrets.BLOB_STORAGE_CONNECTION_STRING }}
